<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
<!-- PHOTOS -->
    <div class="photos">
      <img src="1.png" alt="woman1" />
      <img src="2.png" alt="man1" />
      <img src="3.png" alt="woman2" />
    </div>
    <div id="container">
<!-- LEFT COLUMN -->
    <div id="leftside">
      <span class="wwh">Wild West Hoodie</span><br />
      <button style="font-size: 19px">
        <i class="fa fa-star checked"></i>
      </button>
      <span class="text">5.0</span>
      <button class="heart" style="font-size: 19px">
        <i class="fa fa-heart notliked"></i>
      </button>
      <span class="text">29</span>
      <br>
      <span>Lorem ipsum dolor, sit amet consectetur adipisicing.</span><br>
      <span class="cart">CART</span>
      <span class="view">VIEW</span>
    </div>
<!-- MIDDLE COLUMN -->
    <div id="center">
      <span class="wwh">Wild West Hoodie</span><br />
      <button style="font-size: 19px">
        <i class="fa fa-star checked"></i></button
      ><span class="text">5.0</span>
      <button class="heart" style="font-size: 19px">
        <i class="fa fa-heart liked"></i>
      </button>
      <span class="text">29</span><br>
      <span>Lorem ipsum dolor, sit amet consectetur adipisicing.</span><br>
      <span class="cart">CART</span>
      <span class="view">VIEW</span>
    </div>
<!-- RIGHT COLUMN -->
    <div id="rightside">
      <span class="wwh">Wild West Hoodie</span><br />
      <button style="font-size: 19px">
        <i class="fa fa-star checked"></i></button
      ><span class="text">5.0</span>
      <button class="heart" style="font-size: 19px">
        <i class="fa fa-heart notliked"></i>
      </button>
      <span class="text">29</span>
      <br>
      <span>Lorem ipsum dolor, sit amet consectetur adipisicing.</span><br>
      <span class="cart">CART</span>
      <span class="view">VIEW</span>
    </div>
    </div>
    </div>
  </body>
</html>
